.cart{
	display:flex;
	background-color: snow;
	justify-content:space-between;
	align-items:center;
	padding:;
	font-size:1.4rem;
	border-radius:3px;
	width:80px;
	height:2rem;
}

.cart p{
	height:26px;
	width:26px;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:22px;
	background-color:goldenrod;
	color:white;
}

.sidebar{
	text-align:center;
	padding-bottom:3rem;
	padding-right:1px;
}

.head{
	background-color:goldenrod;
	border--radius:3px;
	height:40px;
	padding:10px;
	margin-bottom:20px;
	color:white;
	align-items:center;
}

.foot{
	display:flex;
	justify-content:space-between;
	margin:20px 0px;
	padding:10px 0px;
	border-top:1px solid #333;
}

.cart-image{
	width: 200px;
    height: auto;
}